* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

.header-banner {
    padding-top: 35px;
    padding-bottom: 100px;
    color: #ffffff;
    font-family: Helvetica, serif;
    font-weight: 100;
    background-image: url(../img/tea.jpg);
    background-attachment: scroll, scroll;
    background-position: top, center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-banner-index {
    padding-top: 35px;
    padding-bottom: 20px;
    color: #ffffff;
    font-family: Helvetica, serif;
    font-weight: 100;
    background-image: url(../img/tea.jpg);
    background-attachment: scroll, scroll;
    background-position: top, center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-width {
    width: 95%;
    max-width: 1150px;
    margin: 0 auto;
}

.logo-container {
    float: left;
    width: 50%;
}

.logo {
    width: 130px;
    padding: 10px;
    min-height: 30px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 750;
}

.menu {
    float: right;
    width: 50%;
}

.menu-item {
    float: right;
    font-size: 15px;
    color: #eee;
    width: 130px;
    padding: 10px;
    min-height: 50px;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
}

.table-item{
    padding: 5px;
    float: left;
    margin-left: 10px;
    width:200px;
    height:100%;
    min-height:30px;
    font-size:14px;
    text-align:center;
    line-height:30px;
    border: none;
    border-radius:20px 20px 20px 20px;
    cursor:pointer;
}

.lead-title {
    margin: 150px 0 30px 0;
    font-size: 40px;
}

.sub-lead-title {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #ffffff;
}

.flex-sect {
    background-color: #fafafa;
    padding: 100px 0;
    font-family: Helvetica, serif;
}

.footer-under {
    background-color: #312833;
    padding-bottom: 100px;
    padding-top: 100px;
    min-height: 500px;
    color: #eee;
    position: relative;
    font-weight: 100;
    font-family: Helvetica, serif;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(238, 238, 238, 0.5);
    bottom: 0;
    padding: 1em 0;
    position: absolute;
    width: 100%;
    font-size: 0.75em;
}

.made-with {
    float: left;
    width: 50%;
    padding: 5px 0;
}

.foot-social-btns {
    display: none;
    float: right;
    width: 50%;
    text-align: right;
    padding: 5px 0;
}

.lead-btu{
    margin-left: 10px;
    padding:10px;
    width:100px;
    height:100%;
    min-height:30px;
    font-size:20px;
    text-align:center;
    line-height:30px;
    background-color:#ffffff;
    border-radius:20px 20px 20px 20px;
    border: none;
    cursor:pointer;
}

#iheg {
    float: right;
    width: 60%;
}

#lulu {
    float: left;
    width: 60%;
}

#text-underline {
    color: #ffffff;
    text-decoration: unset;
    padding-bottom: 6px;
    border-bottom: 2px solid #ffffff;
}

#igye {
    padding: 35px 0 80px 0;
}

#i8ie {
    width: 40%;
}

#i3wlc {
    margin: 120px 0 30px 0;
    font-size: 50px;
    font-weight: 400;
}

#iabgj {
    padding: 0 0 0 0;
}

#ie50gi {
    min-height: auto;
    padding: 0 0 0 0;
}

#ipcl0x {
    float: none;
    position: relative;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
}

.gjs-cell {
    font-size: 18px;
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#it9yj {
    flex-basis: 30%;
    border: 2px solid #e6e6e6;
    border-radius: 5px 5px 5px 5px;
    padding: 0 0 10px 0;
}

#aa5k {
    padding: 0 20px 10px 20px;
}

#ix5is {
    flex-basis: 70%;
    padding: 0 20px 10px 20px;
    border: 2px solid #e6e6e6;
    border-radius: 5px 5px 5px 5px;
    margin-left: 10px;
}

#ivm78 {
    padding: 10px;
    font-size: 20px;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#f2f2f2 0%, #f2f2f2 100%);
}

#i4nfy {
    font-size: 26px;
    padding: 10px 10px 2px;
    border-bottom: 4px solid #8bc66f;
}

#i6jd3 {
    padding: 10px;
    line-height: 1.6;
}

#i6u7j{
    font-size:18px;
    text-align:left;
    width:60%;
    height:100%;
    border-radius:20px 20px 20px 20px;
    padding:0 0 0 10px;
    border: none;
    margin:0 0 0 10px;
}
#i3wrg{
    text-align:center;
    min-height:46px;
    border: none;
}
#i4bg2{
    text-align:center;
    font-size: 16px;
    border-radius:20px 20px 20px 20px;
    height:100%;
    width:100px;
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    background-image:linear-gradient(#ffffff 0%, #ffffff 100%);
    border:1px solid #e6e6e6;
}
#izuuz{
    padding:10px;
    margin:20px 0 0 0;
    font-size:30px;
}

#im1wb{
    flex-basis:70%;
    height: 600px;
}
#i7qik{
    flex-basis:30%;
    height: 600px;
    border:2px solid #e6e6e6;
}
#ieo2i{
    padding:10px;
    background-image: linear-gradient(#f2f2f2 0%, #f2f2f2 100%);
}
#ionr8{
    padding:10px;
}
#ickxk{
    overflow-y: auto;
    height: 400px;
    padding:10px;
}

@media (max-width: 768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}

a:link{
    color: #ffffff;
    text-decoration: unset;
}

a:visited{
    color: #ffffff;
    text-decoration: unset;
}

a:hover{
    color: #ffffff;
    text-decoration: unset;
    padding-bottom: 6px;
    border-bottom: 2px solid #ffffff;
}

a:active{
    color: #ffffff;
    text-decoration: unset;
    padding-bottom: 6px;
    border-bottom: 2px solid #ffffff;
}
.blk-sect{
    padding-top:20px;
    padding-bottom:20px;
    background-color:#ffffff;
    font-family:Helvetica, serif;
}
.blk-title{
    color:black;
    font-size:25px;
    text-align:center;
    margin-bottom:15px;
}
.blk-desc{
    color:black;
    font-size:18px;
    line-height: 1.4;
    text-align:left;
    margin:0 auto;
    font-weight:100;
}
